<div class="h-screen w-screen flex flex-col justify-center items-center">
    <div class="shadow-lg flex flex-col gap-4 px-8 py-8 rounded-lg bg-gray-200">
        <h1 class="text-center text-3xl font-b">Event Tracker</h1>
        <h1 class="text-2xl">Login to your TEDUPass account</h1>
        <p>Enter your TEDUPass account in order to proceed.</p>
        <a href="http://localhost:3000/auth/login" class="btn btn-neutral">Login</a>
        <a class="w-full text-center" routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>