<app-main-content>
  <div class="py-4 px-8 flex-col gap-4 flex">
    <h1>Gizlilik Politikası</h1>

    <p>
      Gizlilik, İnternet'te büyük bir endişe haline gelmiştir. EventTracker
      olarak, kullanıcılarımızın bilgilerini nasıl kullandığımıza ve
      paylaştığımıza önem veriyoruz. Bu gizlilik bildirimi, EventTracker'ın
      bilgilerinizi nasıl işlediğini açıklamaktadır. EventTracker web sitesini
      ziyaret ederek, bu gizlilik bildirisinde açıklanan uygulamaları kabul
      etmiş olursunuz.
    </p>

    <h2>Kişisel Bilgi</h2>
    <p>
      EventTracker web sitesi, kişisel bilgilerinizi web sitemizin herhangi bir
      yerinde ifşa etmenizi gerektirmez. IP adresiniz, geniş demografik bilgiler
      toplamak ve genel ziyaret modellerinizi izlemek için kullanılır. IP
      adresiniz ayrıca teknik sorunların teşhisinde yardımcı olmak için de
      kullanılır. EventTracker kişisel bilgilerinizi herhangi bir üçüncü tarafla
      satmaz, kiralamaz veya ticaret yapmaz.
    </p>

    <h2>Çerezler</h2>
    <p>
      Çerezler, ana siteyle siteye erişmek için kullandığınız bilgisayar
      arasında bilgi depolamak veya aktarmak için pek çok siteyle kullanılan
      küçük metin dosyalarıdır. Bu çerezler, geçici internet dosyalarınızın
      dizinindeki özel bir klasöre kaydedilir. EventTracker, web sitemizin bazı
      bölümlerinde çerezleri kullanmaktadır. Web sitemizde reklam yayınlarken,
      üçüncü taraf reklamverenimiz tarayıcınıza benzersiz bir "çerez"
      yerleştirebilir veya tanıyabilir.
    </p>
    <p>
      Ayrıca EventTracker'daki reklam verenler, kendi politikaları kapsamında
      sizden veri toplayabilirler.
    </p>

    <h2>Reklamverenler</h2>
    <p>
      EventTracker web sitesini ziyaret ettiğinizde reklamlar sunmak için üçüncü
      taraf reklam şirketlerini kullanıyoruz. Bu şirketler, EventTracker ve
      diğer web sitelerinde sizin için ilginç olabilecek mallar ve hizmetler
      hakkında reklamlar sunmak için bu web sitelerine yaptığınız ziyaretlerle
      ilgili bilgileri kullanabilir. Reklamlar çerezler içerebilir. Reklamlar,
      EventTracker'ı çevrimiçi tutmanın maliyetlerini karşılamak için
      gereklidir.
    </p>

    <h2>Analiz Verileri</h2>
    <p>
      EventTracker web sitesi üzerindeki hareketleriniz
      <a href="https://www.google.com/policies/privacy/" target="_blank"
        >Google Analytics</a
      >
      aracılığı ile kaydedilebilir.
    </p>

    <h2>Temas</h2>
    <p>
      Bu gizlilik bildirimiyle veya EventTracker ile olan ilişkileriniz hakkında
      herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz.
    </p>
    <p>
      İletişim için e-posta adresimiz:
      <a href="mailto:onmuapps@gmail.com">{{"onmuapps@gmail.com"}}</a>
    </p>

    <p>EventTracker web sitesini ziyaret ettiğiniz için teşekkür ederiz!</p>
  </div>
</app-main-content>
